[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim
