"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"
" Here you can set your own Vim preferences and extensions, also the IDE plugin
" provides you a few commands and vars to change the default behaviours.
"
" Note that the commented vars are showing the default values.
"
"
""""""""" COLORS SETS """""""""""""""""""""""""""""""""""""""""""""""
" The default one is jellybeans, github theme is also included in
" this package, you can also add your favorite ones, just copy them to
" ~/.vim/colors/ (or use pathogen) and reference them here.
"
" color jellybeans
"
"
""""""""" IDE COMMANDS """"""""""""""""""""""""""""""""""""""""""""""
"
" :IDEOpen               Starts IDE mode.
" :IDEClose              Stops IDE mode.
" :IDERebuildTags        Rebuilds the project tags of the current
"                        buffer filetype.
"
"
""""""""" VARS """"""""""""""""""""""""""""""""""""""""""""""""""""""
"
" Always open Vim in IDE mode, without
" considering the file type.
"
"  let g:IDEAlways = 1     
"
" Open Vim in IDE mode but only displaying
" the editor window.
"
"  let g:IDEOnlyEditor = 1
"
"
""""""""" KEY MAPPINGS (CHANGE THEM AS YOU WISH) """"""""""""""""""""
"
" These are the default keys mappings, uncomment and replace the
" values with your mappings using the Vim <KEY> format.
"
""""""""""""""""""
"
" Mappings used when opening files both through the project project
" explorer and when jumping to functions/classes definitions.
"
" Note that to jump to functions/classes you must press CTRL + KEY,
" where KEY is the key specified in "g:IDE....Key" vars.
"
"let g:IDESplitWindowKey = 'c'
"let g:IDEVSplitWindowKey = 'f'
"let g:IDEOpenCurrentWindowKey = 'a'
"
""""""""""""""""""
"
" Mappings used to hide/show the lateral windows.
"
"let g:IDENERDTreeToggleKey = 'F7'
"let g:IDETagListToggleKey = 'F8'
"
""""""""""""""""""
"
" Other mappings
"
"let g:IDEPasteModeKey = 'F9'
